<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891366340844-0nu00e4r1barpn7nqnlrvln433fsbgrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891366340844-0nu00e4r1barpn7nqnlrvln433fsbgrr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>891366340844-nd03forg6l0felkoqkn418nidrv7upk6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjNyzfzWsZ_WfXV5d8-_eI_-5RsftzzDo</string>
	<key>GCM_SENDER_ID</key>
	<string>891366340844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vieclam.phothong</string>
	<key>PROJECT_ID</key>
	<string>vieclamphothong</string>
	<key>STORAGE_BUCKET</key>
	<string>vieclamphothong.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891366340844:ios:19b70b3c9ac29cf3d58dc9</string>
	<key>DATABASE_URL</key>
	<string>https://vieclamphothong.firebaseio.com</string>
</dict>
</plist>